.section-two {
    background-image: url(/assets/images/greenleaves.png);
    background-repeat: no-repeat;
    background-position: top;

    .double-lines {
        border-top: solid 2px #ff5500;
    }
}

