.section-one {
    // background-image: url(/assets/images/banner.jpg);
    // width: 100%;
    background-color: rgba(255, 166, 0, 0.384);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    font-family: "poppins";
    font-size: 1.2rem;
    // background-position: center;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;

    
}